@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 300 500 600 700 800;
  font-display: swap;
  src: url('https://rsms.me/inter/inter.css') format('woff2');
  unicode-range: U+000-5FF, U+700-FFF, U+2C60-2C7F, U+4DC0-4DFF, U+A720-A7FF;
}

body {
  margin: 0;
  font-family: 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
